@import '../variable.less';

.home-carousel {
    background-color: black;
    // margin-top: 20px;
    img {
        opacity: 0.7;
    }
    .slick-list {
        text-align: center;
    }
}

.home-container {
    .home-intro-restaurant {
        margin-top: 50px;
        margin-bottom: 50px;
        .home-intro-mask{
            background-color: rgba(0, 0, 0, 0.4);
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
        }
        .home-intro-restaurant-col1 {
            display: flex;
            justify-content: center;
        }
    }
    .home-balzzak-system {
        width: 80%;
        text-align: center;
    }

    @media @phone {

        .home-intro-restaurant {
            margin-top: 20px;
            margin-bottom: 20px;
        }
        .home-balzzak-system {
            margin-top: 20px;
        }
    }
}

.mobile-only {
    display: none;
}

@media @phone {
    .pc-only {
        display: none;
    }
    .mobile-only {
        display: block;
    }
}